.head{
    position: fixed;
    padding:0px;
    margin: 0px;

}

.headTwo{
    position: fixed;
    transform: translate(0%, 5%);
    left: 0;
}


.headThree {
    position: relative;
    top: 950px;
    left: 300px ;

}



table, tr{
    border-collapse: collapse;   
}


.text-container {
    position: relative;
    /* Set the background color for the container */
    background-color: rgb(98, 111, 164);
    border: solid rgb(98, 111, 164);
    padding:20px 545px 20px 40px; /* Add padding to increase background size */
  }


.highlight-background {
    font-size: 19px;
    font-weight: bold;
    font-family: 'Open Sans';
    text-align: left;
    color: white;

}

.text-containerTwo {
    position: relative;
    /* Set the background color for the container */
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0,0,0,0.1);
    padding:12px 530px 12px 46px; /* Add padding to increase background size */
  }

.highlight-backgroundTwo {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans';
    text-align: left;
    color: rgba(0, 0, 0, 0.75);

}


.arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent; /* Left side is transparent */
    border-right: 6px solid transparent; /* Right side is transparent */
    border-bottom: 6px solid black; /* Bottom side is the visible part */
    display: inline-block;
}

  
.right {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }



  

  